/* Common styles */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.ul {
  list-style-type: none;
}
.a {
  text-decoration: none;
}
.button {
  cursor: pointer;
}
.h1,
.h2,
.h3 {
  margin: 0;
}
.ul {
  margin: 0;
  padding-left: 0;
}
/* Wrapper */
.wrapper {
  width: 1440px;
  height: 3300px;
  display: block;
}
/* Header */
.page-header {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  display: inline-flex;
}
.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-end {
  color: #2e2f42;
}

.header-address,
.header-nav-container {
  gap: 8px;
  padding: 15px;
  margin: 0;
  list-style: none;
}
.menu {
  background-color: #ffffff;
}
.nav-link {
  display: block;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus,
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
.header-address-link,
.nav-link,
.header-logo {
  display: block;
  justify-content: space-between;
}
.header-address {
  font-style: normal;
}

.header-nav {
  background-color: #ffffff;
}

.header-nav-container {
  background-color: #ffffff;
}

.header-nav-container-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  list-style: none;
}

.header-address-list {
  list-style: none;
}

.header-address-list-item {
  background-color: #ffffff;
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

/* Hero */
.hero {
  background-color: #2e2f42;
}
.hero-name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.hero-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* Our Directions */

.directions {
  background-color: #ffffff;
}
.directions-name {
  color: #333;
}
.directions-list {
  list-style: none;
}
.directions-item {
  color: #333;
}
.directions-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.directions-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Our Team */

.team {
  background-color: #f4f4fd;
}
.team-name {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}
.team-list {
  list-style: none;
}
.team-item {
  background: #ffffff;
}
.team-image {
  background-color: #ffffff;
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Our Portfolio */

.portfolio {
  background-color: #ffffff;
}
.portfolio-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
}
.portfolio-list {
  list-style: none;
}
.portfolio-item {
  color: #333;
}
.portfolio-img {
  background-color: #ffffff;
}
.portfolio-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Footer */
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.footer .logo-end {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f4f4fd;
}
