/* Common styles */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.ul {
  list-style-type: none;
}
.a {
  text-decoration: none;
}
.button {
  cursor: pointer;
}
.h1,
.h2,
.h3 {
  margin: 0;
}
.ul {
  margin: 0;
  padding-left: 0;
}
.img {
  display: block;
}
/* Wrapper */
.wrapper {
  width: 1440px;
  height: 3300px;
}
/* Header */
.page-header {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e7e9fc;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.logo-end {
  color: #2e2f42;
}

.header-address,
.header-nav-container {
  gap: 8px;
  padding: 15px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.nav-link {
  display: flex;
  gap: 40px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus,
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-container {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  align-items: center;
}

.header-nav-container-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  list-style: none;
  gap: 40px;
  display: flex;
}

.header-address-list {
  list-style: none;
  display: flex;

  flex-direction: row;
}

.header-address-list-item {
  display: flex;
  flex-direction: row;
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  display: flex;
  text-align: end;
  align-items: end;
}

/* Hero */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  box-sizing: border-box;
  flex-direction: column;
}

.hero-name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
}
.hero-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* Our Directions */

.directions {
  background-color: #ffffff;
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.directions-list {
  list-style: none;
}
.dir-list-text {
  display: flex;
  gap: 24px;
}
.directions-itemt {
  color: #333;
}
.dir-item-cont {
  width: calc((100%-72px) / 4);
}
.directions-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.directions-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Our Team */

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-name {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  list-style: none;
  display: flex;
  gap: 24px;
}
.team-item {
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.container-team {
  background-color: #f4f4fd;
}
.team-image {
  background-color: #ffffff;
}
.worker {
  padding: 32px 0;
  background-color: #ffffff;
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 8px;
  background-color: #ffffff;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #ffffff;
}
.our-t {
  display: flex;
  gap: 24px;
  flex-direction: row;
  padding-right: 8px;
  justify-content: center;
  width: calc(1440px - 24px * 3);
}

/* Our Portfolio */

.portfolio {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.cont prtf {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item {
  width: calc((100%-48px) / 3);
}
.portfolio-img {
  background-color: #ffffff;
}
.portfolio-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.footer .logo-end {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f4f4fd;
}
